# Copyrighted reference material — keep out of the (public) repo.
# Contains only the source paper PDF (2006.14115v1.pdf) and the
# lecture-note PDFs (final-presentation/ref/lecture_notes/).
final-presentation/ref/
ref/
